/* Resolution tablette */

    /* Onglet recherche - loupe */

    div.onglet_recherche input.submit{
       display: none;
        }

    div.onglet_recherche form{
       display: flex;
        }

    div.onglet_recherche input.loupe{
     display: inline-block;
     width: 17px;
     height: 17px;
     margin-left: -12px;
     border: solid;
     background-color:#0065FC;
     border-color: #F2F2F2;
     border-radius: 17px;
     border-left: none;
     padding: 16px;
     }

    div.top nav.menu-nav ul li.btn:hover a{
        color:#0065FC;
        border-bottom: solid;
        border-top: none;
        transition: 0.09s all;
    }

    /* Filtres */
    div.filtres ul{
        flex-wrap: wrap;
    }

    /* Cancel Hover */

    div.cards1:hover {
        height: 40%;
        width: 29%;
    }

    div.cards1:hover img{
        height: 60%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
        filter: blur(0.6px) grayscale(30%);
    }

    div.cards1:hover p{
        display: block;
    }

    div.cards1:hover div.notation{
        display: flex;
    }

    div.cards2:hover img{
        width: 46%;
    }

    div.activites_cards:hover img{
        height: 74%;
        border-radius: 25px 25px 0px 0px;
    }

    div.activites_cards:hover h4{
        display: block;
    }


/* Resolution mobile */

@media all and (max-width: 768px) 
{
    /* Marge */

    header{
        padding: 0px;
    }

    div#bloc_page{
        margin:0px;
    }

    div.top2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 7% 0px 7%
    }

    /* Menu */

    div.menu-nav {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    div.menu-nav nav {
        display: flex;
        width: 100%;
    }
    
    div.menu-nav nav ul{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    div.menu-nav nav li{
        width: 50%;
    }

    div.menu-nav nav li a{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px 0px 7px 7px;
        border-bottom: solid #F2F2F2;
    }

    div.top {
    flex-direction: column;
    align-items: center;
    }

    div.top nav.menu-nav ul{
        padding: 0px;
    }

    div.top nav.menu-nav ul li.btn a{
        padding-top: 0px;
    }

    div.top nav.menu-nav ul li.btn{
        display: inline;
        margin: 0px;
    }

     /* Onglet Recherche */

    div.symbole_recherche{
        height: 46.5px;
    }

    div.onglet_recherche input.search{
        width: 100%;
    }

    div.onglet_recherche input.submit{
        height: 40px;
    }

    /* Filtres */

    div.filtres{
        display: flex;
        flex-direction: column;
        }
    
    div.filtres h3{
        margin-bottom: 10px;
        }

    div.filtres ul{
        padding: 0px;
        margin-top: 0px;
        }

     /* Alignement div */

    div#principale{
        flex-direction: column-reverse;
    }

    aside#populaires{
        width: 100%;
        border-radius: 0;
    }

    article#hebergement{
        width: 100%;
        background: none;
        height: auto;
    }

     /* Hebergements marseille */

     div.cards1{
        height: 150px;
        width: 400px;
        margin: 20px;
    }

    div.cards1:hover {
        height: 150px;
        width: 400px;
        transition: 1s all;
    }

    div.cards1 img{
        filter: blur(0) grayscale(0);
    }

    div.cards1 h4{
        margin-top: 1%;
    }

     /* Activités marseille */

    div.activites_expo{
        flex-direction: column;
        align-items: center;
    }

    div.activites_wrap{
        width: 100%;
        justify-content: normal;
        height: auto;
        align-items: center;
    }

    div.activites_cards{
        margin: 20px;
    }

    div.activites_cards img{
        filter: blur(0);
        height: 74%;
    }

     div#parc_calanques{
        height: 150px;
        width: 400px;
     } 

     div#dame_garde{
        height: 150px;
        width: 400px;
    }

    div#vieux_port{
        height: 150px;
        width: 400px;
    }
    
    div#fort_pomegues{
        height: 150px;
        width: 400px;
    }
    
    div#iles_frioul{
        height: 150px;
        width: 400px;
    }

    div#parc_longchamp{
        height: 150px;
        width: 400px;
    }

    /* footer */

    footer{
        flex-direction: column;
        padding-left: 25px;
    }

}